// sample secrets file, fill it with your wifi creds and rename it to secrets.h
// -- Wifi ----------------------------------------------
#define WIFI_SSID              "CHANGEME"             // [Ssid1] Wifi SSID
#define WIFI_PASS              "CHANGEME"         // [Password1] Wifi password
